.comment{
    display: flex;
    font-size: 11px;
    padding: 10px;
    background: #ffffff;
    overflow: auto;
    user-select: none;
}
#cmt-user{
    p{
        font-size: 15px;
    }
    
    .comment {
         border-bottom: 1px solid #e4e4e4;
    }
}
.cmt-title{
    display: flex;
    justify-content: space-between;
    .date{
        color: rgb(146, 146, 146);
    }
}
.cmt-section{
    flex-direction: column;
}
.cmt-img{
    margin-top: 5px;
    max-width: 50px;
}
.first-cmt{
    display: flex;
    flex-direction: row;
    padding-bottom: 10px;
}
.cmt-section__border{
    border-bottom: 1px solid #e4e4e4;
}
.commenterName{
    color: #5265AD;
    font-weight: bold;
}
.answer{
    margin-left: 25px;
}
/* BTN SECTION */
.cmt-buttons{
    color: #5265AD;
    font-weight: 700;
}
.cmt-buttons > span:hover{
    cursor: pointer;
}
.cmt-buttons > span:last-child:hover{
    cursor: context-menu;
}
.cmt-buttons > span:last-child::after{
    display: none;
}
.cmt-buttons > span::after{
    content: '  ∙  ';
}
.cmtLeft{
    padding: 7px;
    float: left;
}
.cmtRight{
    display: block;
    width: 100%;
    > p {
        line-height: 15px;
        font-size: 15px;
    }
}
.likes{
    display: inline-block;
    margin: 0 10px;
}
.like:hover{
    cursor: pointer;
}
.btn-add-cmt{
    background-color: #5265ad;
    background-color: #6075be;
    color: #fff;
}
/* BTN SECTION end */
.footer-nav > a{
    min-height: 30px;
}
.footer-nav > a:hover{
    border-bottom: 3px solid rgb(168, 168, 168);
}
@media screen and (max-width: 500px) {
    .cmtRight > span:nth-child(2) {
        font-size: 0.7rem;
        display: inline-block;
        margin-left: -8px;
    }
    .commenterName{
        display: block;
        width: 100%;
    }
}
